@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body
{
    display: grid;
    height: 100%;
    place-items: center;
    background: #8e44ad;
}
.embrulho
{
    position: relative;
    height: 55px;
    width: 320px;
}
.embrulho input
{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #8e44ad;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 5px;
}
.embrulho input:valid ~ span
{
    display: block;
}
.embrulho span
{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
}
.embrulho span i.ocultar-botao:before
{
    content: "\f070";
}